* {
    background-color: #020B14;
}
main {
    width: 100%;
    height: auto;
}
#navbar {
    background-color: #020B14;
}
#navbar a{
    color: white; !important;
    text-decoration: none;
    font-size: 20px;
}

#Main_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("Main image.jpg");
    width: auto;
    height: 922px;
}

#Main_menu h2 {
    font-size: 50px;
    color: white;
    background-color: #191919;
    padding: 10px;
}
#Main_menu a{
    color: white; !important;
    text-decoration: none;
    font-size: 40px;
    padding: 9px;
    border-radius: 3px;
}
#login {
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
form input{
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}
#signup {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#find {
    display: flex;
}
#add {
    color: white;
}